.inputData {
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
  line-height: 1.0em;
}

.submitButton {
  margin: auto;
  text-align: center;
}

ul{
  list-style-type: none; 
}

.outputData{
  margin:auto;
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
}
